body {
    margin: 0;
    font-family: CENTURY GOTHIC;
    line-height: 1.5;
    font-size: 20px;
    color: black;
}

*,
*:befor,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/*--------------------------intro------------------------*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../img/1593743471_45-p-stilnie-serie-foni-52.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.intro__title {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: darkslategray;
}

.intro__title:after {
    content: "";
    display: block;
    width: 900px;
    height: 8px;
    margin: 60px auto 0;
    
    background-color: darkslategray;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}



/*--------------------------header------------------------*/
.header {
    widows: 100%;
    position: absolute;
    padding-top: 25px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header.fixed {
    padding: 10px 0;
    
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: white;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: darkslategray;
}




/*------------------------navigation menu------------------------*/
.nav {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    
    color: grey;
    text-decoration: none;
    
    transition: color 0.2s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    
    background-color: darkslategray;
    opacity: 0;
 
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    
    transition: opacity 0.2s linear;
}

.nav__link:hover {
    color: darkslategray;
    
}

.nav__link:hover:after {
    opacity: 2;
}

.nav__link.active {
    color: darkslategray;
}




/*---------------------------navigation site---------------------*/
.nav-menu {
    display: flex;
    list-style: none;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    
    background: linear-gradient(-45deg, darkslategray 70%, white 30%);
    background-size: 700%;
    border-radius: 10px;
    transition: 0.5s;
}

.navigation-link {
    color: darkslategray;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s;
}


.nav-item:hover {
	background-position: 40% 40%;
}

.nav-item:hover .navigation-link {
	color: white;
}




/*------------------------section about-----------------*/
.section {
    padding: 90px 0;
}

.section__header__1 {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    
    text-align: center;
}

.section__header__2 {
    width: 100%;
    max-width: 900px;
    margin: 0 100px 40px;
    
    text-align: center;
    
}

.section__header__3 {
    width: 100%;
    max-width: 900px;
    margin: 10px 250px 40px;
    
    text-align: center;
}

.section__header__4 {
    width: 100%;
    max-width: 900px;
    margin: 10px 300px 40px;
    
    text-align: center;
}

.section__subtitle {
    font-family: 'Kaushan Script' cursive;
    font-size: 40px;
    color: firebrick;
}

.section__title__1 {
    font-size: 30px;
    font-weight: 700;
    color: darkslategray;
}

.section__title__1:after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    margin: 15px auto 0;
    
    background-color: firebrick;
}

.section__title__2 {
    font-size: 30px;
    font-weight: 700;
    color: firebrick;
}

.section__text__1 {
    font-size: 20px;
    color: darkslategray;
}

.section__text__2 {
    font-size: 25px;
    color: darkslategray;
}





/*-----------------------------section statistics--------------------*/
.statistics {
    background-color: darkslategray;
    padding: 80px;
}

.stat {
    display: flex;
}

.stat__item {
    flex: 1 1 0;
    padding: 80px 20px;
    
    border-left: 1px solid #8D9E9E;
    text-align: center;
    color: white;
}

.stat__item:last-child {
    border-right: 1px solid #8D9E9E;
}

.stat__percent {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    font-size: 20px;
    text-transform: uppercase;
}




/*-------------------------section education---------------------*/
.section__func {
    font-family: 'Kaushan Script' cursive;
    font-size: 40px;
    font-weight: 700;
    padding-top: 30px;
    color: firebrick;
}

.section__date {
    font-size: 20px;
    margin-left: 40px;
    color: firebrick;
    font-weight: 700;
    padding-top: 40px;
}

.section__place {
    font-size: 27px;
    font-weight: 700;
    margin-left: 40px;
    color: darkslategray;
    padding-top: 10px;
}

.section__ptext {
    font-size: 20px;
    margin-left: 40px;
    color: darkslategray;
    max-width: 550px;
    padding-top: 10px;
}





/*-------------------------section contact------------------------*/
.intro1 {
    width: 100%;
    height: 100vh;
    background: url("../img/1593743471_45-p-stilnie-serie-foni-52.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.section__func1 {
    font-family: 'Kaushan Script' cursive;
    font-size: 30px;
    padding-top: 100px;
    font-weight: 700;
    color: firebrick;
}


.section__contact__1 {
    font-size: 40px;
    font-weight: 700;
    color: firebrick;
}

.section__contact__2 {
    font-size: 25px;
    color: darkslategray;
}





/*-----------------------------message block-----------------------*/
.container1 {
    max-width: 1000px;
	width: 100%;
	margin: auto;
}

.form-group {
    flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.form-group input {
    width: 100%;
	height: 10px;
	border-radius: 25px;
	border: 1px solid #d4d4e3;
	padding: 10px 25px;
	font-size: 16px;
	transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.form-group textarea {
    width: 100%;
	height: 40px;
	border-radius: 25px;
	border: 1px solid #d4d4e3;
	padding: 10px 25px;
	font-size: 16px;
	transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.form-group input,
.form-group textarea:focus {
	box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
	box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);	
}

.textarea {
    resize: vertical;
}
.btn {
    font-size: 16px;
	font-family: CENTURY GOTHIC;
	font-weight: 600;
	padding: 12px 45px;
	color: darkslategray;
	border-radius: 40px;
	transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: inline-block;
	white-space: nowrap;
	border: none;
	cursor: pointer;
    margin-left: 45%;
}
.btn:hover {
    transform: scale(1.05);
	transform: scale(1.05);
}
#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    border-radius: 8px;
    margin-left: 28%;
}
#status.success {
    background-color: firebrick;
    animation: status 4s ease forwards;
}
#status.error {
    color: firebrick;
    animation: status 4s ease forwards;
}
@keyframes status { 0% {
    opacity: 1;
    pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}




/*-----------------------------autor-----------------------*/
.copyright {
    padding: 20px 0;

    border-top: 1px solid #e5e5e5;

    font-size: 18px;
    color: darkslategray;
    text-align: center;
}

.copyright span {
    color: darkslategray;
}











